<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Where you Trynna Crash?</h1>
    
    <form method=POST action="/">
      Which Dude?<br>
      <input type="text" name="host" value="where?">
      <br>
       U<br>
      <input type="text" name="guest" value="You">
      <br>
      
      When Foo?<br>
     <input type="text" name="date" value="April 20, 6969">
     <br>
     
     <br> <br>
     
     
       
      
      <input type="submit" value="Create">
    </form>
    
    <br> <br>
    
    <b> <a href="{{logout_url}}">Log out</a></b>
    
  </body>
</html>