<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Where you Trynna Crash?</h1>
    
    <form method=POST action="/">
      Which Dude?<br>
      <select name="host">
        <option value="pompa">Pompa</option>
      </select>
      <br>
      
      When Foo?<br>
     <input type="text" name="guest" value="">
     <br>
     
     <br> <br>
     
     
       
      
      <input type="submit" value="Create">
    </form>
    
    <br> <br>
    
    <b> <a href="{{logout_url}}">Log out</a></b>
    
  </body>
</html>