<!DOCTYPE html>
<html>
  <head>
    <title>A Meme</title>
    <style>
      .meme-div{
      margin-left: 40%;
      width: 250px;
      height: 100px;
      background-size: cover;
      text-align: center;
      position: relative;
      }
      h2 {
        position: absolute;
        left: 0;
        right: 0;
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact;
        color: white;
        text-shadow: 1px 1px black;
      }
      #line1 {
         top: 0;
       }
      #line2 {
         bottom: 0;
       }
    </style>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
        <h1 style="margin-left: 20%; padding-bottom: 5%">My Events:</h1>
    {% for event in user_events %}
    
        <div class="meme-div" style="background: #BD6C75; border: solid white 1px;">
          <h2 id="line1">Host: {{event.host}}</h2>
          <h2 id="line2">Date: {{event.guest}}</h2>
        </div>
        <br> <br>
    
    {% endfor %}
  </body>
</html>
